.panda {
    background-image: url(../assets/images/panda_bg.jpg);
    background-repeat: no-repeat;
    background-position: center -4px;
    background-size: 1600px 390px;
    height: 386px;
}

.donate {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    height: 1482px;
    padding: 40px 220px;
}

.donate__tilte {
    font-size: 36px;
    line-height: 130%;
    color: var(--color-white);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.donate p {
    font-weight: 500;
    line-height: 140%;
    color: var(--color-white);
    letter-spacing: 0.055px;
    margin-bottom: 45px;
}

.donate h3 {
    font-size: 36px;
    line-height: 130%;
    color: var(--color-orange2);
    margin-bottom: 60px;
}

.donation__container {
    width: 100%;
    height: 964px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 40px 92px 62px;
}

.container-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: var(--color-orange2);
    margin-bottom: 21px;
}

.container-subtitle {
    font-size: 24px;
    line-height: 120%;
    color: var(--color-black-blue);
    margin-bottom: 60px;
}

.donation__widget {
    display: flex;
    column-gap: 12px;
    width: fit-content;
    margin: 0 auto;
}

.widget-left {
    margin-top: 105px;
}

.widget-number {
    font-family: 'Roboto Bold';
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-black);
    margin-bottom: 10px;
}

.widget-left span {
    line-height: 140%;
    text-align: center;
    color: var(--color-black-blue);
}

.cross-icon {
    background-image: url(../assets/icons/x_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    margin-top: 130px;
}

.animal-icon {
    background-image: url(../assets/icons/panda_widget1.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 284px;
    height: 246px;
    margin-left: 53px;
    margin-right: 10px;
}