@font-face {
    font-family: 'Roboto';
    src: url("../assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url("../assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto Thin';
    src: url("../assets/fonts/Roboto-Thin.ttf");
    font-weight: 100;
}

:root {
    --color-black: #000000;
    --color-black-blue: #333B41;
    --color-white: #ffffff;
    --color-light: #E5E5E5;
    --color-gray-light: #F1F3F2;
    --color-gray-dark: #404950;
    --color-gray: #BDBDBD;
    --color-gray2: #72828E;
    --color-gray3: #929699;
    --color-yellow: #FFEE2E;
    --color-orange1: #F9804B;
    --color-orange2: #FE9013;
    --color-orange-dark: #E47209;
    --color-green: #4B9200;
    --color-red: #D31414;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-light);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

a {
    text-decoration: none;
    color: unset;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto';
    font-weight: 500;
    margin: 0;
}

.content-wrapper {
    width: 1600px;
    margin: 0 auto;
    background-color: var(--color-white);
}

.header,
.footer,
.section {
    width: 100%;
    padding: 14px 220px;
}

.button {
    display: block;
    width: 298px;
    background: linear-gradient(113.96deg, var(--color-orange1) 1.49%, var(--color-orange2) 101.44%);
    padding: 16px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
}

.button.rounded {
    border-radius: 25px;
}

.button:hover {
    background: var(--color-orange-dark);
}

.button:active {
    background: var(--color-green);
    transform: scale(0.98);
}

/* ---------- Header ---------- */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
}

.header__logo {
    border-radius: 2px;
    border: 1px solid var(--color-white);
    padding: 2px 4px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.header__logo h1 {
    font-size: 19.0145px;
    line-height: 23px;
    color: var(--color-white);
    text-align: center;
    margin: auto;
    transition: all 0.3s ease-in-out;
}

.header__logo img {
    position: absolute;
    left: 9px;
    top: 23px;
    transition: all 0.3s ease-in-out;
}

.header__logo:hover {
    border: 1px solid var(--color-orange2);
}

.header__logo:hover h1 {
    color: var(--color-orange2)
}

.header__logo:hover img {
    filter: invert(52%) sepia(99%) saturate(476%) hue-rotate(350deg) brightness(101%) contrast(99%);
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 58px;
    font-family: 'Roboto Bold';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-white);

    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__link {
    background-image: linear-gradient(to right,
            var(--color-orange2),
            var(--color-orange2) 50%,
            var(--color-white) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.header__nav-list .mobile {
    display: none;
}

.nav__link:before {
    content: '';
    background: var(--color-orange2);
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    transition: all 0.3s ease-in-out;
}

.nav__link:hover {
    background-position: 0;
}

.nav__link:hover::before {
    width: 98%;
}

.nav__active {
    font-weight: 600;
    background: linear-gradient(113.96deg, var(--color-orange1) 1.49%, var(--color-orange2) 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header__design {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-white);
    transition: all 0.3s ease-in-out;
    padding-right: 1px;
    margin-left: 375px;
}

.header__design:hover {
    color: var(--color-orange2);
}

.header__burger-btn {
    display: none;
}

/* ---------- Watch your favorite animal online ---------- */

.watch {
    background-image: url(../assets/images/giant_panda.jpg);
    background-repeat: no-repeat;
    background-position: center -80px;
    background-size: 1600px 780px;
    height: 700px;
}

.watch__content {
    margin-left: 665px;
    padding-top: 71px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 62px;
}

.watch__circle {
    position: absolute;
    top: -2px;
    left: -79px;
    background: linear-gradient(113.96deg, var(--color-orange1) 1.49%, var(--color-orange2) 101.44%);
    width: 465px;
    height: 465px;
    border-radius: 50%;
}

.watch__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Bold';
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
    z-index: 1;
}

.watch__title span {
    color: var(--color-yellow);
}

/* ---------- The Backstage ---------- */

.backstage {
    display: flex;
    column-gap: 85px;
    padding: 140px 220px;
    background-image: url(../assets/images/flower_foto1.png);
    background-position: right 15px;
    background-repeat: no-repeat;
    background-size: 206px 605px;
    color: var(--color-black-blue);
}

.backstage h2 {
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 21px;
}

.backstage h3 {
    font-size: 24px;
    line-height: 120%;
    margin-top: 55px;
    margin-bottom: 36px;
}

/* ---------- Footer ---------- */

.footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 41px 220px 50px;
}

.footer__logo-subscribe {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 36px;
}

.footer__logo {
    border-radius: 2px;
    border: 1px solid var(--color-white);
    padding: 1px 4px 5px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.footer__logo h3 {
    padding: 0;
    margin: 0;
    font-size: 19.0145px;
    line-height: 22px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.footer__logo img {
    position: absolute;
    left: 9px;
    top: 21px;
    transition: all 0.3s ease-in-out;
}

.footer__logo:hover {
    border: 1px solid var(--color-orange2);
}

.footer__logo:hover h3 {
    color: var(--color-orange2)
}

.footer__logo:hover img {
    filter: invert(52%) sepia(99%) saturate(476%) hue-rotate(350deg) brightness(101%) contrast(99%);
}

.footer__subscribe h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 13px;
}

.subscribe__form input[type="email"] {
    border-radius: 2px;
    border: solid 0.7px var(--color-orange2);
    appearance: none;
    outline: none;
    background: transparent;
    width: 228px;
    padding: 9px 10px;
    margin-right: 6px;
    line-height: 22px;
    color: var(--color-gray);
}

.subscribe__form input[type="email"]:valid {
    border: solid 0.7px var(--color-green);
}

.subscribe__form input[type="email"]:focus:invalid {
    border: solid 0.7px var(--color-red);
    color: var(--color-red);
}

.subscribe__form input[type="submit"] {
    width: 129px;
    padding: 9px 38px;
    line-height: 22px;
    border: 1px solid var(--color-black-blue);
    border-radius: 5px;
    background-color: var(--color-gray-light);
    cursor: pointer;
}

.subscribe__form input[type="submit"]:hover {
    /* background: linear-gradient(113.96deg, var(--color-orange1) 1.49%, var(--color-orange2) 101.44%); */
    background-color: var(--color-orange-dark);
    color: var(--color-white);
}

.subscribe__form input[type="submit"]:active {
    background-color: var(--color-green);
    transform: scale(0.98);
}

.subscribe__form input[type="email"]:valid+input[type="submit"] {
    color: var(--color-green);
    border: 1px solid var(--color-green);
}

.subscribe__form input[type="email"]:focus:invalid+input[type="submit"] {
    color: var(--color-red);
    border: 1px solid var(--color-red);
}

.subscribe__form input[type="email"]:valid+input[type="submit"]:hover,
.subscribe__form input[type="email"]:invalid+input[type="submit"]:hover {
    color: var(--color-white);
    border: 1px solid var(--color-black-blue);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 44px;
}

.footer__social-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style: none;
    margin-right: 116px;
}

.social__link {
    display: flex;
    column-gap: 12px;
    align-items: flex-end;
}

.social__circle {
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__social-list span {
    line-height: 140%;
}

.social__link:hover {
    color: var(--color-orange2);
}

.social__link:hover .social__circle {
    background: var(--color-orange2);
}

.social__link:active {
    color: var(--color-green);
}

.social__link:active .social__circle {
    background: var(--color-green);
}

.footer__nav-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 58px;
    font-family: 'Roboto Bold';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-white);

    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-family: 'Roboto Thin';
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-gray);
}